.main2 {
  padding-top: 64px;
  display: flex;
  gap: 90px;
}
.mobile_maintop2righttop {
  display: none;
}
.strike {
  text-decoration: line-through;
  text-decoration-color: red;
}
.flashdiv {
  position: relative;
  width: 437px;
  height: 527px;
}
.flash {
  position: absolute;
  width: 529px;
  height: 568px;

  left: -36px;
  top: -29px;
}
.maintop2righttop {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 704px;
  column-gap: 10px;
}
.gross {
  font-family: 'Merriweather', serif;
  font-size: 36px;
  font-weight: 700;

  letter-spacing: 0px;
  line-height: 48.6px;
  color: rgb(49, 49, 49);
  text-transform: uppercase;
}
.grossred {
  color: rgb(245, 73, 50);
  font-family: 'Merriweather', serif;
  font-size: 36px;
  font-weight: 700;

  letter-spacing: 0px;
  line-height: 48.6px;
  text-transform: uppercase;
}
.maintop2rightbottom {
  margin-top: 60px;
  display: block;
}
.mobile_maintop2rightbottom {
  display: none;
}
.tableleft {
  border-right: 2px solid rgb(208, 208, 208);
  border-bottom: 2px solid rgb(208, 208, 208);
  padding-right: 16px;
  padding-bottom: 16px;
  padding-top: 16px;
}
.tableright {
  border-left: 2px solid rgb(208, 208, 208);
  border-bottom: 2px solid rgb(208, 208, 208);
  padding-left: 16px;
  padding-bottom: 16px;
  padding-top: 16px;
}
.tablerightbottom {
  border-left: 2px solid rgb(208, 208, 208);
  padding-left: 16px;

  padding-top: 16px;
}
.tableleftbottom {
  border-right: 2px solid rgb(208, 208, 208);

  padding-top: 16px;
}
.tabletextleft {
  color: rgb(49, 49, 49);
  font-family: 'Golos Text', serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0px;
  text-align: left;
  opacity: 0.7;
}
.tabletextright {
  color: rgb(49, 49, 49);
  font-family: 'Golos Text', serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0px;
  text-align: left;
}
.tablerighttop {
  border-left: 2px solid rgb(208, 208, 208);
  border-bottom: 2px solid rgb(208, 208, 208);
  padding-left: 16px;
  padding-bottom: 16px;
}
.tablelefttop {
  border-right: 2px solid rgb(208, 208, 208);
  border-bottom: 2px solid rgb(208, 208, 208);
  padding-right: 16px;
  padding-bottom: 16px;
}
.allquestion {
  color: rgb(48, 87, 162);
  font-family: 'Golos Text', serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 48px;
}
